body {
  background-color: #ddd;
  font-size: 16px;
}

.blank {
  height: 50px;
}

/* nav */
.navbar {
  margin-bottom: 0;
}

nav .glyphicon {
  font-size: 24px;
}

.nav-icon {
  padding: 10px;
}

.nav-icon a {
  padding: 0;
}

.glyphicon-heart {
  color: #f00;
}
