.nav-wrapper {
  background-color: #fff;
}

.nav-wrapper .left {
  margin-left: 95px;
}

nav .brand-logo {
  display: block;
  background-color: #3F070B;
  padding: 10px;
}

nav a {
  color: #333 !important;
}

body {
  background-color: #ddd;
}
