/* 반응형 설정 */
@media max-width(100px) {

}


#map {
  height: calc(100vh - 60px);
  background: url("../images/map.png") no-repeat center center;
}

.row {
  background-color: #fff;
  margin: 0;
}

.col-lg-5 {
  padding-top: 20px;
}

#result_list_header {
  padding: 20px;
  border-bottom: 2px solid #ddd;
}

.media-heading {
  color: #fff;
}

.media-head {
  background-color: #555;
  padding: 5px;
}

.media-head ul {
  padding: 0;
  margin: 0;
}

.media-head li {
  list-style: none;
  display: inline;
  color: #fff;
}

.media-head li h4 {
  display: inline;
}

.media {
  border: 1px solid #ddd;
  margin: 0;
}

.media-left {
  padding: 0;
  width: 320px;
  height: 220px;
  overflow: hidden;
}

.table > tbody > tr > td {
  padding: 0;
}

td:first-child {
  width: 80px;
}





#result_list {
  height: calc(100vh - 170px);
  overflow: auto;
  width: calc(100% + 18px);
}

.hide_scroll {
  overflow: hidden;
  width: 100%;
}
