#map {
  height: calc(100vh - 52px);
  background: url("../images/map.png") no-repeat center center;
}

.dropdown {
  display: inline;
}

#dropdownMenu1 {
  float: right;
}

.dropdown-menu {
  float: right;
}

.row {
  background-color: #fff;
  margin: 0;
}

.col-lg-5 {
  padding-top: 20px;
}

#result_list_header {
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

#result_list_header p {
  display: inline;
}

.media-heading {
  color: #fff;
}

.media-head {
  background-color: #555;
  padding: 5px;
}

.media-head ul {
  padding: 0;
  margin: 0;
}

.media-head li {
  list-style: none;
  display: inline;
  color: #fff;
}

.media-head li h4 {
  display: inline;
}

.media {
  border: 1px solid #ddd;
}

.table > tbody > tr > td {
  padding: 0;
}

td:first-child {
  width: 80px;
}





#result_list {
  height: calc(100vh - 120px);
  overflow: scroll !important;
}
