.nav-wrapper {
  background-color: #fff;
}

nav .brand-logo {
  display: block;
  background-color: #3F070B;
  padding: 10px;
}

nav a {
  color: #333 !important;
}

#subnav {
  background-color: #ffcdd2;
}

#subnav li {
  margin-right: 20px;
}

#map {
  height: 100vh;
}
