ul {
  list-style: none;
  padding: 0;
  padding-right: 20px;
  margin: 0;
}

#profile {
  min-height: 540px;
  height: 80vh;
  padding-top: 10px;
}

#profile .col-lg-3, #profile .col-lg-9 {
  margin: 0;
}

#profile table tr td:first-child {
  min-width: 150px;
}


.glyphicon-star {
  color: #FED130;
}


/* dropdown */
.dropdown .row {
  background-color: inherit !important;
}

.dropdown .col-xs-2 {
  padding: 0;
  padding-left: 5px;
}

.dropdown .col-xs-4 {
  padding: 0;
}

#budget {
  width: 415px;
}

nav .radio-inline input, nav .checkbox input {
  width: 20px;
  height: 20px;
}



#map {
  min-height: 1100px;
  height: 100vh;
  background: url("../images/map.png") no-repeat center center;
}

.row {
  background-color: #fff;
  margin: 0;
}

.col-lg-5 {
  padding-top: 20px;
}

#result_list_header {
  border-bottom: 2px solid #ddd;
}

#result_list_header p {
  margin: 20px 0 20px 20px;
}

.media-heading {
  color: #fff;
}

.media-head {
  background-color: #555;
  padding: 5px;
  padding-right: 20px;
}

.media-head ul {
  padding: 0;
  margin: 0;
}

.media-head li {
  list-style: none;
  display: inline;
  color: #fff;
}

.media-head li h4 {
  display: inline;
}

.media .glyphicon {
  float: right;
  font-size: 22px;
}

.media {
  border: 1px solid #ddd;
  margin: 0;
}

.media-object {
  height: 150px;
}

.media-left {
  width: 480px;
}

.media-body {
  width: 640px;
}

.table {
  margin-bottom: 0;
}

.table > tbody > tr > td {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
}

#result_list td:first-child {
  width: 80px;
}

#result_list td:nth-child(2) {
  width: 180px;
  border-right: 1px solid #ddd;
}

#result_list td:nth-child(3) {
  text-align: left;
  width: 70px;
}

#result_list tr:first-child td:nth-child(3) {
  font-weight: bold;
}

#result_list td:nth-child(4) {
  text-align: right;
  padding-right: 40px !important;
}

#result_list tr:last-child td:nth-child(4) {
  text-align: right;
  padding-right: 20px !important;
}

#result_list tr:last-child td:last-child {
  padding-top: 6px;
}

#result_list {
  overflow: auto;
  min-height: 338px;
  height: 20vh;
  width: calc(100% + 14px);
  margin-bottom: 30px;
}

.hide_scroll {
  overflow: hidden;
  width: 100%;
}
