.jumbotron {
  height: 400px;
  padding-top: 150px;
  background: url("../images/back.png") no-repeat center center;
}

.select-dropdown {
  text-align: center;
}

select {
  text-align: center;
}

option {
  margin-left: 10px;
  text-align: center;
}

span.caret {
  margin-right: 10px;
}

/* search bar */

.card {
  margin: 0;
}

#search {
  margin-bottom: 0;
  border-bottom: 0;
  padding-left: 10px;
  width: calc(100% - 10px);
}

#search-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
