#login {
  position: fixed;
  top: 20vh;
  left: 40vw;
  width: 336px;
  z-index: 100;
}

#login.panel {
  padding-top: 0 !important;
  height: 420px;
}

#close_btn {
  position: relative;
  right: -20px;
}

#login .col-sm-11, #login .col-sm-1 {
  padding: 0;
}

#login .col-sm-1 {
  padding-top: 7px;
}

#login.panel {
  padding: 20px;
  padding-bottom: 5px;
}

#remember.col-sm-2 {
  padding: 0;
}

.col-sm-5, .col-sm-7 {
  padding: 0;
}

.login_hide {
  display: none;
}

/* login back */
#login_back {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
